.yui3-button {
    margin:10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;
}
  
  body {
    font-family: 'Poppins', sans-serif;
    color: grey;
    background-color:white;
  }

  #middle-card {
    align-self: center;
  }
  